@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  background: rgb(16, 10, 118);
  background: linear-gradient(
    151deg,
    rgba(16, 10, 118, 1) 0%,
    rgba(51, 51, 201, 1) 22%,
    rgba(88, 214, 239, 1) 100%
  );
}

#settings-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: rgb(239, 246, 252);
  border-radius: 10px;
  border: 4px solid #d4e8f9;
  padding: 10px 20px;
}

.heading-h1 {
  text-align: center;
  margin: 0;
}

.settings-select {
  margin: 10px 0;
  display: flex;
}

.settings-select-label {
  width: 185px;
}

.buttons-wrapper {
  display: flex;
  margin: 10px;
}

.user-selected-numbers-title {
  padding: 0px 4px;
}

.user {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputs {
  display: flex;
}

.number-input {
  width: 30px;
  padding: 5px;
  margin: 0px 5px;
}

/* select */
select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #34495e;
  background-image: none;
  cursor: pointer;
}

.select {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

/* BUTTON */
.button {
  cursor: pointer;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start-button-disabled {
  margin: auto;
  padding: 4px 12px;
}

.button:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.restart-button {
  background: linear-gradient(180deg, #7b7e83 0%, #b7bbc3 100%);
}

.random-button {
  background: linear-gradient(180deg, #7b7e83 0%, #b7bbc3 100%);
  padding: 5px;
  margin: 0 5px;
}

.winner-wrapper {
  margin: auto;
  width: 100%;
  text-align: center;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
